<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.ingenieur.andyelderscrolls"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="129"
    android:versionName="1.29">

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="25"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <!-- Tell the system this app requires OpenGL ES 3.0. -->
    <uses-feature android:glEsVersion="0x00030000" android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- FOR APK EXPANSIONS -->
    <!-- Required to access Google Play Licensing -->
    <uses-permission android:name="com.android.vending.CHECK_LICENSE"/>

    <!-- Required to download files from Google Play -->
    <!--  <uses-permission android:name="android.permission.INTERNET" />-->

    <!-- Required to keep CPU alive while downloading files (NOT to keep screen awake) -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- Required to poll the state of the network connection and respond to changes -->
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- Required to check whether Wi-Fi is enabled -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <!-- Required to read and write the expansion files on shared storage -->
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->

    <!--Required to accept donations_fragment.xmlgment.xml-->
    <uses-permission android:name="com.android.vending.BILLING" />

    <!-- for cardboard -->
    <uses-permission android:name="com.android.vending.VIBRATE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:hardwareAccelerated="false">
        <activity
            android:name=".MorrowindActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Call of Red Mountain"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MorrowindVRActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Call of Red MountainVR"
            android:icon="@drawable/vr_icon"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.google.intent.category.CARDBOARD"/>


            </intent-filter>
        </activity>


        <activity
            android:name=".ElderScrollsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Red Mountain Tools"
            android:icon="@drawable/tools"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".nifdisplay.NifDisplayActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Nif Display"
            android:parentActivityName=".ElderScrollsActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ElderScrollsActivity"/>
        </activity>
        <activity
            android:name=".kfdisplay.KfDisplayActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Kf Display"
            android:parentActivityName=".ElderScrollsActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ElderScrollsActivity"/>
        </activity>
        <activity
            android:name=".jbullet.JBulletActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="JBullet"
            android:parentActivityName=".ElderScrollsActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ElderScrollsActivity"/>
        </activity>
        <activity
            android:name=".andyesexplorer.AndyESExplorerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="ESExplorer"
            android:parentActivityName=".ElderScrollsActivity"
            android:screenOrientation="sensorLandscape"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ElderScrollsActivity"/>
        </activity>
        <activity android:label="@string/app_name"
                  android:name="simpleandroid.JoglStatusActivity"/>

        <service android:name=".utils.obb.ObbDownloaderService" />
        <receiver android:name=".utils.obb.ObbAlarmServiceReceiver" />

    </application>
</manifest>
